CyberSecurityAwarenessBot/obj/project.nuget.cache
CyberSecurityAwarenessBot/obj/project.assets.json
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.GlobalUsings.g.cs
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.GeneratedMSBuildEditorConfig.editorconfig
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.AssemblyInfoInputs.cache
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.assets.cache
CyberSecurityAwarenessBot/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.AssemblyInfo.cs
CyberSecurityAwarenessBot/obj/CyberSecurityAwarenessBot.csproj.nuget.g.targets
CyberSecurityAwarenessBot/obj/CyberSecurityAwarenessBot.csproj.nuget.g.props
CyberSecurityAwarenessBot/obj/CyberSecurityAwarenessBot.csproj.nuget.dgspec.json
CyberSecurityAwarenessBot/CyberSecurityAwarenessBot.csproj
CyberSecurityAwarenessBot.sln
.vs/CyberSecurityAwarenessBot/v17/DocumentLayout.json
.vs/CyberSecurityAwarenessBot/v17/.suo
.vs/CyberSecurityAwarenessBot/FileContentIndex/f820947f-4182-453b-9250-c3db849d6f18.vsidx
.vs/CyberSecurityAwarenessBot/FileContentIndex/4daab0d6-464f-45f4-b1b6-417a1ae6d491.vsidx
.vs/CyberSecurityAwarenessBot/FileContentIndex/bc0dc622-4bfa-4d40-851a-b6dbe0c3a24d.vsidx
.vs/CyberSecurityAwarenessBot/FileContentIndex/e9c00e25-aa4a-45cd-84a2-ec8a2411c3aa.vsidx
.vs/CyberSecurityAwarenessBot/FileContentIndex/fa015466-f6c6-4d2e-8c5d-9bdd2c140443.vsidx
.vs/CyberSecurityAwarenessBot/FileContentIndex/b113ab3d-403e-4cf4-8aa4-3587bb29cc3c.vsidx
.vs/CyberSecurityAwarenessBot/DesignTimeBuild/.dtbcache.v2
.vs/CyberSecurityAwarenessBot/CopilotIndices/17.14.1577.30250/CodeChunks.db
.vs/CyberSecurityAwarenessBot/CopilotIndices/17.14.1577.30250/CodeChunks.db-shm
.vs/CyberSecurityAwarenessBot/CopilotIndices/17.14.1577.30250/CodeChunks.db-wal
.vs/CyberSecurityAwarenessBot/CopilotIndices/17.14.1577.30250/SemanticSymbols.db
.vs/CyberSecurityAwarenessBot/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-shm
.vs/CyberSecurityAwarenessBot/CopilotIndices/17.14.1577.30250/SemanticSymbols.db-wal
.vs/CyberSecurityAwarenessBot/FileContentIndex/961447b8-fd03-4eb8-a990-ccfa7023f26f.vsidx
