CyberSecurityAwarenessBot/obj/project.nuget.cache
CyberSecurityAwarenessBot/obj/project.assets.json
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.GlobalUsings.g.cs
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.GeneratedMSBuildEditorConfig.editorconfig
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.AssemblyInfoInputs.cache
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.assets.cache
CyberSecurityAwarenessBot/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CyberSecurityAwarenessBot/obj/Debug/net8.0/CyberSecurityAwarenessBot.AssemblyInfo.cs
CyberSecurityAwarenessBot/obj/CyberSecurityAwarenessBot.csproj.nuget.g.targets
CyberSecurityAwarenessBot/obj/CyberSecurityAwarenessBot.csproj.nuget.g.props
CyberSecurityAwarenessBot/obj/CyberSecurityAwarenessBot.csproj.nuget.dgspec.json
CyberSecurityAwarenessBot/CyberSecurityAwarenessBot.csproj
CyberSecurityAwarenessBot.sln
.vs/CyberSecurityAwarenessBot/v17/DocumentLayout.json
.vs/CyberSecurityAwarenessBot/v17/.suo
.vs/CyberSecurityAwarenessBot/FileContentIndex/f820947f-4182-453b-9250-c3db849d6f18.vsidx
